{% extends 'base.html' %}

{% block title %}Teacher Sign Up{% endblock title %}

{% block pageCss %}<link rel="stylesheet" href="/static/style/signupform.css"> {% endblock pageCss %}

{% block body %}

<section class="form">
    <form action="/signup/teacher" method="post" >
        {% csrf_token %}
        <h2>Teacher Sign Up</h2>
        <label for="fname">First Name:</label>
        <input type="text" name="fname" id="fname">
        <label for="lname">Last Name:</label>
        <input type="text" name="lname" id="lname">
        <label for="subject">Enter Subject:</label>
        <input type="text" name="subject" id="subject">
        <label for="email">Enter email:</label>
        <input type="email" name="email" id="email">
        <label for="password">Enter password:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Sign Up" id="btn">
    </form>
</section>

{% endblock body %}